<div class="about2">
<p><strong>Contact: </strong><a href="mailto:shs@gov.scot">shs@gov.scot</a></p>
<p><strong>Issued: </strong>16/05/2018</p>
<p><strong>Modified: </strong>10/10/2018</p>
<p><strong>Next update due: </strong>September 2019</p>
</div>