<div class="about">
<p>Every year the Scottish Household Survey (SHS) asks adults whether they agree with the following statements about local authority services and performance.</p>

<ul style="list-style-type: disc;">
<li>I can influence decisions affecting my local area</li>
<li>I would like to be more involved in the decisions my council makes that affect my local area</li>
<li>My council is good at letting local people know about the kinds of services it provides</li>
<li>My council is good at listening to local people's views before it takes decisions</li>
<li>My local council addresses the key issues affecting the quality of life in my local neighbourhood</li>
<li>My local council designs its services around the needs of the people who use them</li>
<li>My local council does the best it can with the money available</li>
<li>My local council is good at letting people know about the kinds of services it provides</li>
<li>My local council provides high quality services</li>
</ul>

<p>The data is reported here on person level and is available by:</p>
<ul style="list-style-type: disc;">
<li>Local Authority</li>
<li>Age of the randomly selected adult</li>
<li>Gender of the randomly selected adult</li>
<li>Urban/Rural Classification</li>
<li>SIMD quintiles</li>
</ul>
<p>The most recent annual publication can be accessed at <a href="http://www.gov.scot/Topics/Statistics/16002/Publications">http://www.gov.scot/Topics/Statistics/16002/Publications</a></p> 
<p>And the full questionnaire for each year can be accessed at <a href="http://www.gov.scot/Topics/Statistics/16002/PublicationQuestionnaire">http://www.gov.scot/Topics/Statistics/16002/PublicationQuestionnaire</a></p></div>