<div class="welcome">
<p>Welcome to the new Scottish Household Survey (SHS) data visualisation site. With this interactive website, we hope to make the SHS results clearer and more accessible. The site is currently in development and over time we plan to add more data and more functionality. It's worth noting that the only data from the survey currently shown is part of the chapter on Local Authority Services and Performance, but others will be added soon.</br></br>If there are any features you would like to see, or any other suggestions or feedback regarding the site, please let us know at <a href="mailto:shs@gov.scot">shs@gov.scot</a> and we'll do our best to incorporate your ideas in the future.</p>


<p>All data presented on this site is taken from the <a href="https://statistics.gov.scot/home">Scottish Government Open Data Platform</a>.
Further information is available from:</p>
<ul>
  <li><a href="http://www.gov.scot/Topics/Statistics/16002/PublicationAnnual">The Scottish Household Survey Annual Report</a></li>
  <li><a href="http://www.gov.scot/Topics/Statistics/SHCS/Downloads">The Annual Scottish House Condition Survey Key Findings Report</li>
  <li><a href="https://www.transport.gov.scot/publication/transport-and-travel-in-scotland-2017/">The Annual Transport and Travel in Scotland Report (TATIS)</a></li>
</ul>
<p>
SHS data is also contained in the <a href="https://www.gov.scot/Topics/Statistics/About/Surveys/SSCQ">Scottish Surveys Core Questions (SSCQ) </a>, an annual Official Statistics publication. SSCQ is a result of a harmonised design across the three major Scottish Government household surveys, envisaged in the <a href="https://www.gov.scot/Topics/Statistics/About/Surveys/SGSurveyStrategy/LTSS2018">Long Term Survey Strategy</a>.
</p>

<p>To get started, just select a link at the top of the page. Thanks for visiting, and we hope you enjoy using the site!</p>
</div>